#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(SCRABBLE, .registration = TRUE)
export(scrabble)
export(plot_data)
import(Rcpp)
import(rARPACK)
import(pracma)
import(ggplot2)
import(RColorBrewer)
import(reshape2)
import(gridExtra)
import(methods)
import(grDevices)
